<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
</head>
<body>
    <h1>스케줄 추가</h1>

    <form method="post" action="/schedule/add" th:object="${scheduleForm}" >
        <p>스케줄명:
            <input type="text" id="scheduleName" name="scheduleName">
        </p>
        <p>시작 시간:
            <input type="time" id="startTime" name="startTime">
        </p>
        <p>마감 시간:
            <input type="time" id="endTime" name="endTime">
        </p>
        <button type="submit">완료</button>
    </form>

</body>
</html>
