<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-  to-fit=no">


    <!-- 파비콘 (favicon) -->
    <link rel="icon" type="image/png" th:href="@{/images/inhaeelogo.png}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <style>
        .do-hyeon-regular {
            font-family: "Do Hyeon", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    </style>

    <title>인하대학교 맞춤 AI 스케줄 생성기</title>

</head>
