<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>

<link rel="stylesheet" href="/css/index.css"/>

<body>
<div th:replace="~{fragments/bodyHeader :: bodyHeader}"></div>
<div class="container">

    <h2>인하대학교 현재 날씨</h2>
    <div style="display: flex; justify-content: space-evenly; margin-bottom: 100px">
        <div th:each="weather : ${weather}">
            <p th:text="${weather.key}"></p>
            <p th:text="${weather.value}"></p>
        </div>
    </div>

    <h2>AI가 추천하는 오늘의 스케줄</h2>
    <h4>(09시 ~ 00시)</h4>
    <div style="display: flex; justify-content: space-between; margin-bottom: 40px">
        <div style="display: flex; flex-direction: row; justify-content: start; gap: 10px">
            <button class="add-btn" style="margin-right: 20px" onclick="openModal('scheduleModal', '/schedule/add')"></button>
            <form id="retry-form" action="/schedule" method="get">
                <button type="submit" class="retry-btn"></button>
            </form>
        </div>
        <div>
            <a href="https://kauth.kakao.com/oauth/authorize?client_id=48a5417b39fe6369d6f6ee6a3e1c733c&redirect_uri=https://5vwyouaxq0.execute-api.ap-northeast-2.amazonaws.com/message&response_type=code&scope=talk_message" class="kakao-btn">
                <img src="/images/kakaotalk.png" alt="카톡 보내기">
                나에게 보내기
            </a>
        </div>
    </div>

    <div th:each="schedule, iterStat : ${scheduleList}">
        <div class="item slide-in" th:style="|animation-delay: ${iterStat.index * 0.05}s|">
            <div style="display: flex; align-items: center; width: calc(100% - 42px)">
                <input type="checkbox" onchange="checkboxSchedule(this)" th:attr="data-id=${schedule.getId()}" th:checked="${schedule.isCompleted()} ? 'checked' : null">
                <p th:text="'[' + ${schedule.getTime()} + '] ' + ${schedule.getName()}"></p>
            </div>
            <img src="/images/trash.png" th:onclick="'deleteSchedule(' + ${schedule.getId()} + ')'" />
        </div>
    </div>




    <div id="scheduleModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('scheduleModal')">&times;</span>
        </div>
    </div>
</div>

<a href="/quiz" class="left-btn" style="text-decoration: none"><</a>
<a href="/remain" class="right-btn" style="text-decoration: none">></a>

</body>
<script>
    // 모달 열기 - AJAX를 이용하여 페이지 내용을 로드
    function openModal(modalId, url) {
        var modal = document.getElementById(modalId);
        var contentDiv = modal.querySelector('.modal-content'); // iframe 대신 modal-content를 사용

        fetch("http://localhost:8080" + url) // 서버에 요청
            .then(response => response.text()) // 응답을 텍스트로 변환
            .then(html => {
                contentDiv.innerHTML = html; // 모달 내용에 HTML 삽입
                modal.style.display = "block"; // 모달 열기
            })
            .catch(error => console.log('Error:', error));
    }
    // 모달 외부 클릭 시 닫기
    window.onclick = function(event) {
        var modal = document.getElementById('scheduleModal');
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    // 일정 체크박스 상태 변경
    function checkboxSchedule(checkboxElem) {
        var scheduleId = checkboxElem.getAttribute('data-id');
        var targetUrl = '/schedule/' + scheduleId + '/completed';
        window.location.href = targetUrl; // 현재 페이지를 새 URL로 리디렉션
    }

    // 일정 삭제
    function deleteSchedule(scheduleId) {
        const confirmation = confirm("해당 스케줄을 삭제하시겠습니까?");
        if (confirmation) {
            window.location.href = `/schedule/${scheduleId}/delete`;
        }
    }

    // 스케줄 재생성 버튼
    // 버튼 클릭 시 폼 제출
    document.querySelector('.retry-btn').addEventListener('click', function(event) {
        event.preventDefault(); // 기본 폼 제출 방지
        document.getElementById('retry-form').submit(); // 폼 제출
    });

</script>
</html>